:root {
  --primary-color: #3b82f6;
  --secondary-color: #60a5fa;
  --accent-color: #10b981;
  --accent-hover-color: #0f9d76;
  --accent-dark-color: #0e8d6b;
  --white: #ffffff;
  --minor-color: #f3f4f6;

  --text-color: #374151;
  --subtext-color: #5f646e;
  --helptext-color: #9ca3af;

  --border-color: #6b7280;

  --disabled-color: #d1d5db;
  --background-color: #f3f4f6;

  --negative-color: #f87171;
  --negative-dark-color: #ef4444;

  --positive-color: #10b981;
}

//button

:root {
  --button-padding: 8px 16px;
}
